/* @woocommerce
********************************************************************************************
********************************************************************************************/

#woo-inn{ padding:50px !important;}

.woo-container{ overflow:hidden !important;}

#woocontent{
	float:left;
	width:75%;
	margin-right:5%;
	overflow:hidden;
	margin-top:25px;
}

#woosidebar{
	float:left;
	overflow:hidden;
	width:20%;
	margin-top:25px;
}

.woocommerce h1.page-title{ margin:0 0 15px 0;}

.woocommerce h1.entry-title {
	padding:0 0 20px 0 !important;
    margin: 0px 0 35px 0 !important;
}

.woocommerce .page-description { margin:0 0 20px 0;}

.entry-summary p{ margin:5px 0 15px 0;}

.woo-container h2.widget,
.shipping_calculator h2,
.cart_totals h2,
.cross-sells h2,
#tab-description h2,
#reviews h2,
.woocommerce .related.products h2,
.woocommerce .upsells.products h2{ width:100%; text-align:left; font-size:14px !important; text-transform:uppercase; margin:0 0 16px 0; padding:0 0 5px 0;}

.woocommerce-pagination{ margin-bottom:40px;}

.container>.woo-container>.woocommerce-message{ margin:40px !important;}

.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering{ margin:0 0;}

select.orderby{-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px; width:100%; padding:8px 5%; margin:0 0 20px 0;}

.woocommerce ul.products{border-top:1px solid #ddd;padding:40px 1px 0 2px; }

.added_to_cart{ position:absolute; top:25%; left:25%; width:50%; background:#000; color:#fff !important; opacity:.7; line-height:1; padding:8px 0 8px 0;-moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius:3px;}


.woocommerce nav.woocommerce-pagination ul, .woocommerce #content nav.woocommerce-pagination ul, .woocommerce-page nav.woocommerce-pagination ul, .woocommerce-page #content nav.woocommerce-pagination ul{ border:none;}

.woocommerce nav.woocommerce-pagination ul li, .woocommerce #content nav.woocommerce-pagination ul li, .woocommerce-page nav.woocommerce-pagination ul li, .woocommerce-page #content nav.woocommerce-pagination ul li { border:none; margin-left:5px;}

.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-info, .woocommerce-page .woocommerce-message{ border:1px solid #ddd;-webkit-box-shadow: none;box-shadow:none;-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.woocommerce .woocommerce-error:before, .woocommerce .woocommerce-info:before, .woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-error:before, .woocommerce-page .woocommerce-info:before, .woocommerce-page .woocommerce-message:before{-moz-border-radius: 0px;-khtml-border-radius: 0px;-webkit-border-radius: 0px;border-radius: 0px;padding-top: 0; top:16px;}

.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{text-align:center;padding:0 0 25px 0;}

.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button,.woocommerce #searchform #searchsubmit{ font-family:Arial; background:none; text-transform:uppercase; font-size:11px !important;padding: 8px 10px; }

.woocommerce a.button:hover{background: none; text-shadow:none;}

.screen-reader-text{ display:none;}

.woocommerce #searchform input{ float:left; max-width:61%; margin:0 8px 30px 0;}
.woocommerce #searchform #searchsubmit{ margin:2px 0 0 0;}

.woocommerce-product-rating{ margin:6px auto 6px auto !important; font-size:10px !important; opacity:.8; overflow:hidden;}
.woocommerce .star-rating, .woocommerce-page .star-rating{ margin:6px auto 6px auto !important; height:14px; font-size:10px !important; opacity:.8; overflow:hidden;}
.product_list_widget .star-rating{ margin:6px 0 0 0 !important;}
.reviewer{ font-size:10px !important;}
.woocommerce .star-rating:hover, .woocommerce-page .star-rating:hover{ opacity:1}


.woocommerce .quantity, .woocommerce #content .quantity, .woocommerce-page .quantity, .woocommerce-page #content .quantity{ width:120px;}

.woocommerce .quantity .plus, .woocommerce .quantity .minus, .woocommerce #content .quantity .plus, .woocommerce #content .quantity .minus, .woocommerce-page .quantity .plus, .woocommerce-page .quantity .minus, .woocommerce-page #content .quantity .plus, .woocommerce-page #content .quantity .minus { float:left;height:28px; width:30px; background:none; position:relative; box-shadow:none; border:1px solid #ccc; margin:0 -1px 0 0;-moz-border-radius: 0px;-khtml-border-radius: 0px;-webkit-border-radius: 0px;border-radius: 0px;}

.woocommerce form .form-row .input-checkbox, .woocommerce-page form .form-row .input-checkbox{ margin:7px 8px 0 0;}

.woocommerce .checkout #shiptobilling, .woocommerce-page .checkout #shiptobilling{ float:left;}

input.input-text{ margin:0 0 0 0;}

input.min_price,
input.max_price{ display:none;}


/* description, reviews tabs */
.woocommerce .woocommerce-tabs{width:43%; margin:25px 5% 25px 0; float:left;}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:before, .woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:before {display: none;}

.woocommerce #content div.product .woocommerce-tabs ul.tabs, .woocommerce div.product .woocommerce-tabs ul.tabs, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs, .woocommerce-page div.product .woocommerce-tabs ul.tabs {padding: 0 0 0 0;}

.woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
	border: 1px solid #dfdbdf;
	background:none !important;
	position: relative;
	z-index: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright:0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: none !important;
	margin: 0 0;
	padding: 0 1em;
}

.woocommerce-tabs #comments {padding:40px 0 !important; margin:0 0 0 0 !important}
.woocommerce #reviews h3, .woocommerce-page #reviews h3 {margin: 0 0 30px 0;}
#review_form .comment-form-author,#review_form .comment-form-email,#review_form .comment-form-url {margin-right: 0 !important;width: 100%;}

.thumbnails a.zoom{ margin-bottom:15px !important;}

/* upselles, related, cross */
.woocommerce .upsells.products,
.woocommerce .related.products{ width:52%; float:right; margin-top:30px !important;}

.woocommerce .related.products{ margin:0 0 0 0;}

.woocommerce .upsells.products ul.products,
.woocommerce .related.products ul.products{ padding:30px 0 20px 0 !important; width:106%;}

.woocommerce .upsells.products li.product,
.woocommerce .related.products li.product { width:42% !important; float:left;margin: 0 8% 2.992em 0;}


.woocommerce .cross-sells ul.products{ padding-top:30px !important;}
.woocommerce .cross-sells ul.products li, .woocommerce-page .cross-sells ul.products li{clear: none !important; float:left !important; width:40%;}

.woocommerce span.onsale, .woocommerce-page span.onsale,.woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale{-moz-border-radius: 0px;-khtml-border-radius: 0px;-webkit-border-radius: 0px;border-radius: 0px;line-height: 22px; min-height:22px;margin: 2px 2px 0 0;	-moz-box-shadow:none;-webkit-box-shadow: none;box-shadow: none;}


.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li, .woocommerce-page ul.cart_list li, .woocommerce-page ul.product_list_widget li{padding:20px 0 10px 0 !important;background: url(../images/line-h-l.png) 0 top repeat-x; overflow:hidden;}

.woocommerce ul.product_list_widget li:first-child{ padding-top: 0 !important;background:none !important;}

.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img{float:left;margin:5px 20px 0 0;width:55px;height:auto;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow: none;padding:3px;background:url(../images/transparent-light.png);}



/* tables */
.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img,
.woocommerce-page div.product div.images img,
.woocommerce #payment div.payment_box, .woocommerce-page #payment div.payment_box,
.woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text{
	-moz-box-shadow: none;
	-webkit-box-shadow:none;
	box-shadow:none;
	}

.woocommerce-page div.product div.summary{ width:47%; margin:0 0 40px 4%;}

.woocommerce table.shop_table, .woocommerce-page table.shop_table{-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px; background:none;border: 1px solid rgba(0, 0, 0, 0.05); margin-bottom:60px;}
.woocommerce table.shop_table td, .woocommerce-page table.shop_table td {border-top: 1px solid rgba(0, 0, 0, 0.05);}

.woocommerce .cart-collaterals .cart_totals table, .woocommerce-page .cart-collaterals .cart_totals table{background:none;border: 1px solid rgba(0, 0, 0, 0.05);-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px; margin-bottom:30px;}

.woocommerce .cart-collaterals .cart_totals table th, .woocommerce-page .cart-collaterals .cart_totals table th,
.woocommerce .cart-collaterals .cart_totals table td, .woocommerce-page .cart-collaterals .cart_totals table td {padding: 13px 12px;}

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {width: 120px; padding:8px !important;}

.woocommerce #content div.product form.cart .variations, .woocommerce div.product form.cart .variations, .woocommerce-page #content div.product form.cart .variations, .woocommerce-page div.product form.cart .variations, dl.variation {background: none;border:none;}
dd p{ line-height:1.3 !important;}


.woocommerce #content div.product form.cart .variations select, .woocommerce div.product form.cart .variations select, .woocommerce-page #content div.product form.cart .variations select, .woocommerce-page div.product form.cart .variations select { padding:5px 10px; margin:0 15px 0 0;width: 200px; float:none;}

.woocommerce #content div.product form.cart .variations td.label, .woocommerce div.product form.cart .variations td.label, .woocommerce-page #content div.product form.cart .variations td.label, .woocommerce-page div.product form.cart .variations td.label { padding-top:15px;}
a.reset_variations{ clear:both;}



/* buttons */
.woocommerce a.button.alt,.woocommerce button.button,.woocommerce button.button.alt,.woocommerce input.button.alt,.woocommerce #respond input#submit.alt,.woocommerce #content input.button.alt,.woocommerce-page a.button.alt,.woocommerce-page button.button.alt,.woocommerce-page input.button.alt,.woocommerce-page #respond input#submit.alt,.woocommerce-page #content input.button.alt,.woocommerce-page #respond input#submit,.woocommerce #searchform #searchsubmit{background:#444;border-color:#333 !important;color:#fff;text-shadow:none;}

.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce-page #content input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover,
.woocommerce a.button.alt:hover,.woocommerce button.button.alt:hover,.woocommerce input.button.alt:hover,.woocommerce #respond input#submit.alt:hover,.woocommerce #content input.button.alt:hover,.woocommerce-page a.button.alt:hover,.woocommerce-page button.button.alt:hover,.woocommerce-page input.button.alt:hover,.woocommerce-page #respond input#submit.alt:hover,.woocommerce-page #content input.button.alt:hover,.woocommerce #searchform #searchsubmit:hover{background:#FA3D03;border-color:#FA3D03 !important;color:#fff;text-shadow:none;}

.woocommerce a.button.alt:hover,.woocommerce button.button.alt:hover,.woocommerce input.button.alt:hover,.woocommerce #respond input#submit.alt:hover,.woocommerce #content input.button.alt:hover,.woocommerce-page a.button.alt:hover,.woocommerce-page button.button.alt:hover,.woocommerce-page input.button.alt:hover,.woocommerce-page #respond input#submit.alt:hover,.woocommerce-page #content input.button.alt:hover,.woocommerce #content .quantity .minus:hover, .woocommerce #content .quantity .plus:hover, .woocommerce .quantity .minus:hover, .woocommerce .quantity .plus:hover, .woocommerce-page #content .quantity .minus:hover, .woocommerce-page #content .quantity .plus:hover, .woocommerce-page .quantity .minus:hover, .woocommerce-page .quantity .plus:hover{background:#FA3D03;border-color:#FA3D03;color:#fff;text-shadow:none;}

.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button{ box-shadow:none;}

#rememberme{ float:none;}

span.amount{ font-size:90%;}

.woocommerce ul.products li.product a:hover img, .woocommerce-page ul.products li.product a:hover img,
.woocommerce #content div.product div.images img, .woocommerce div.product div.images img, .woocommerce-page #content div.product div.images img, .woocommerce-page div.product div.images img {
    box-shadow: none !important;
	-moz-box-shadow:none !important;
	-webkit-box-shadow: none !important;
}

/* @woocommerce cart plugin
********************************************************************************************
********************************************************************************************/

.widget_shopping_cart h2{ margin:0 0 15px 0;}

.widget_shopping_cart_content .buttons{ margin-top:20px;}

.widget_shopping_cart_content a.button.checkout{ margin-left:10px;}

.widget_shopping_cart_content li{ padding:8px 0 10px 0 !important;background: url(../images/line-h-l.png) 0 bottom repeat-x;}

.widget_shopping_cart_content li a{ line-height:1.2 !important;}

.widget_shopping_cart_content img{ width:40px !important;}

/* =Price Filter Widget
	-------------------------------------------------------------- */
.price_slider_wrapper,
.widget_shopping_cart_content {
  margin-bottom:30px !important;
}

.price_slider_wrapper .price_slider {
  margin-bottom:20px !important;
}
.price_slider_wrapper .price_slider_amount {
  text-align: right;
  line-height: 2.4em;
  font-size: 0.8751em;
}
.price_slider_wrapper .price_slider_amount .button {
  font-size: 1.15em;
}
.price_slider_wrapper .price_slider_amount .button {
  float: left;
}
.price_slider_wrapper .ui-slider {
  position: relative;
  text-align: left;
}
.price_slider_wrapper .ui-slider .ui-slider-handle {
	-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px; 
  position: absolute;
  z-index: 2;
  width: 0.85em;
  height: 0.85em;
  border: 1px solid #ddd;
  cursor: pointer;
  background: #fff;
  outline: none;
  top: -0.2em;
}
.price_slider_wrapper .ui-slider .ui-slider-handle:last-child {
  margin-left: -0.5em;
}
.price_slider_wrapper .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background: #999;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}
.price_slider_wrapper .price_slider_wrapper .ui-widget-content {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  background: #d5d5d5;
}
.price_slider_wrapper .ui-slider-horizontal {
  height: 7px;
  background: url(../images/transparent-light.png);
  width:97%;
  	-moz-box-shadow:  0 1px 1px rgba(0, 0, 0, .1) inset;
	-webkit-box-shadow:  0 1px 1px rgba(0, 0, 0, .1) inset;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset;
	-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px; 
}
.price_slider_wrapper .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.price_slider_wrapper .ui-slider-horizontal .ui-slider-range-min {
  left: -1px;
}
.price_slider_wrapper .ui-slider-horizontal .ui-slider-range-max {
  right: -1px;
}